/* hits.css */
.wrapper table {
        background-color: white;
}
.agentId {
        display: none;
}
/* for the side by side tables for member hits */
.wrapper {
        width:100%;
}
.left {
        float:left;
        width:48%;
}
.right {
        float:right;
        width:48%;
}
#todayGuests, #todayGuests th, #todayGuests td {
        background-color: white;
        border: 1px solid black;
}
th, td {
        padding: 5px;
}
button {
        cursor: pointer;
}
input[type=submit] {
        cursor: pointer;
}
