XBitHack on
Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Granby Rotary Test"
AuthType Basic
AuthUserFile /home/barton11/granbyrotarydotorg/test/.htpasswd
require valid-user
Satisfy Any


