# Allow CORS
Header set Access-Control-Allow-Origin "*"

# HOME is only needed by siteautoload and will be removed once everything is autoload.php ready
SetEnv HOME /var/www
SetEnv SITELOAD /var/www/vendor/bartonlp/site-class/includes

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
<Files *.php>
  ExpiresByType text/html A0
</Files>
  ExpiresDefault "access plus 10 days"
  ExpiresByType text/javascript "access plus 1 days"
  ExpiresByType application/x-javascript "access plus 1 days"
  ExpiresByType application/javascript "access plus 1 days"
  ExpiresByType text/css "access plus 1 week"
  ExpiresByType text/plain "access plus 1 month"
  ExpiresByType image/gif "access plus 1 month"
  ExpiresByType image/png "access plus 1 month"
  ExpiresByType image/jpeg "access plus 1 month"
  ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES

# disable magic quotes. They almost always cause problems!
# does not work on vps12660.inmotionhosting.com
#php_flag magic_quotes_gpc Off

# Turn on rewrite
RewriteEngine on

# Don't allow these robots
RewriteCond %{HTTP_USER_AGENT} "baiduspider" [NC]
RewriteRule (.*) - [F,L]

RewriteRule ^$ index.php [L]
RewriteRule ^rssfeed\.xml    articles/createrss.php [L]
# Rewrite for articles
RewriteRule ^articles/article\.(\d+)  articles/article.php?article=$1 [L]
RewriteRule ^rotary\.css css/rotary.css [L]
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]

# START of block logic
# blocked ip addresses. Add each IP. All but the last should have the [OR] flag. The last one should not have it.
# RewriteCond %{REMOTE_HOST} ^67.40.37.187 [OR] # This is my ip address at 12/10/2009 it may change
#<blocked ip addresses start>
#RewriteCond %{REMOTE_HOST} ^90.157.48.55
#<blocked ip addresses end>
#RewriteRule .* blocked.php [L]
# END of block logic

AddType application/x-javascript .js
AddType text/css .csst
AddType text/xml .xml
AddType image/jpg .jpg .jpeg
AddType image/png .png 
AddType image/gif .gif 
AddType image/webp .webp
AddType text/cache-manifest .manifest
AddType application/x-font-woff .woff
AddType application/x-font-ttf .ttf

AddDefaultCharset UTF-8

# Do compression of the followin types

AddOutputFilterByType DEFLATE \
  "application/atom+xml" \
  "application/javascript" \
  "application/x-javascript" \
  "application/json" \
  "application/ld+json" \
  "application/manifest+json" \
  "application/rdf+xml" \
  "application/rss+xml" \
  "application/schema+json" \
  "application/vnd.geo+json" \
  "application/vnd.ms-fontobject" \
  "application/x-font-ttf" \
  "application/x-web-app-manifest+json" \
  "application/xhtml+xml" \
  "application/xml" \
  "font/opentype" \
  "image/svg+xml" \
  "image/x-icon" \
  "text/cache-manifest" \
  "text/css" \
  "text/html" \
  "text/javascript" \
  "text/plain" \
  "text/vtt" \
  "text/x-component" \
  "text/xml" \
  "image/webp" \
  "image/png" \
  "image/jpg" \
  "image/gif" 

