XBitHack on
Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Granby Rotary Admin"
AuthType Basic
AuthUserFile /home/barton11/granbyrotarydotorg/admin/.htpasswd
require valid-user
Satisfy Any


