XBitHack on
Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Granby Rotary Scripts"
AuthType Basic
AuthUserFile /var/www/granbyrotarydotorg/scripts/.htpasswd
require valid-user
Satisfy Any


