XBitHack on
Options +Indexes +Includes
SetEnv SITELOADNAME /var/www/vendor/bartonlp/site-class/includes/siteload.php

Order Deny,Allow
Deny from All

AuthName "Granby Rotary Scripts"
AuthType Basic
AuthUserFile /var/www/granbyrotarydotorg/scripts/.htpasswd
require valid-user
Satisfy Any


