XBitHack on
Options +Indexes +Includes

Order Deny,Allow
Deny from All

AuthName "Granby Rotary Scripts"
AuthType Basic
AuthUserFile /home/barton11/granbyrotarydotorg/scripts/.htpasswd
require valid-user
Satisfy Any


